<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <h1>Welcome admin</h1>
    <div class="admin-sport-btn">
      <% for(let i=0; i<sport.length; i++){ %>
        <form  action="/admin/adminPage/<%= sport[i].sport %>" method="get" class="user-container">
          <button type="submit"><%= sport[i].sport %></button>
        </form>
    <% } %>
    </div>
    <h2>See users</h2>
    <form action="/admin/adminPage" method="post">
      <button type="submit">create</button>
    </form>
    <form action="/admin/users" method="get">
      <button type="submit">Users</button>
    </form>
  </body>
</html>
