<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sport-site</title>
  </head>
  <body>
    <div id="root">Hello</div>
    <h1>Please fill data in the form below:</h1>
    <form method="POST" action="/register">
      <label for="firstName">first Name</label>
      <input type="text" id="firstName" name="firstName" />
      <label for="lasttName">last Name</label>
      <input type="text" id="lasttName" name="lastName" />
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" />
      <label for="ageGroup">AgeGroup</label>
      <input type="ageGroup" id="ageGroup" name="ageGroup" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
